@page "/"

<PageTitle>Home</PageTitle>

<style>
    body {
        background-color: #f4f4f9;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #2c3e50;
        margin-bottom: 20px;
        text-align: center;
    }

    h4 a {
        color: #3498db;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    h4 a:hover {
        color: #1abc9c;
    }

    h4 {
        margin-bottom: 15px;
        text-align: center;
    }

    .content {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    p {
        line-height: 1.6;
        margin-bottom: 15px;
    }

    .highlight {
        font-size: 1.5em;
        font-weight: bold;
        color: #e74c3c;
        text-align: center;
    }

    h3 {
        color: #34495e;
        margin-top: 30px;
    }
</style>

<div class="content">
    <h1 class="highlight">Thiago Goulart Oliveira</h1>
    <h4><a href="https://www.linkedin.com/in/thiago-goulart-de-oliveira/" target="_blank">Link para Linkedin</a></h4>
    <h4><a href="https://github.com/thigoulart/Prova_M9_T10_Thiago" target="_blank">Link para Github</a></h4>

    <h1>Sobre mim</h1>
    <p>Sou Thiago Goulart Oliveira, tenho 20 anos e sou estudante de Sistemas de Informação.
    Sou apaixonado por tecnologia e ainda mais no impacto positivo que ela pode causar no mundo.
    Graduando em Sistemas de Informação no Instituto de Tecnologia e Liderança - Inteli com bolsa 100%.
    Trabalho com Método Ágil e Scrum, na faculdade, desenvolvendo projetos com JavaScript, SQLite, Node Python, Blockchain.
    Tenho interesse em estagiar nas áreas de PO, PMO, PM ou qualquer área que me agregue conhecimento em tecnologia e liderança.
    Integrante do time de projetos no Inteli Junior.
    Bolsista no Instituto Semear.</p>

    <h1>Experiência e Competências</h1>

    <h3>Estagiário de planejamento estratégico</h3>
    <p>Itaú Unibanco · EstágioItaú Unibanco · Estágio
    Elaboração de apresentações, análise de dados operacionais e colaboração entre áreas para otimizar decisões de negócio. Utilizo ferramentas como Excel, PowerPoint e Athena AWS para gerar insights e relatórios, sempre com foco em comunicação clara, trabalho em equipe e pensamento estratégico.
    Competências: Amazon Athena · Microsoft Office · Comunicação · Capacidade analítica</p>

    <h3>Pesquisador e desenvolvedor II</h3>
    <p>Centro de Excelência em Inteligência Artificial (CEIA) · AprendizCentro de Excelência em Inteligência Artificial (CEIA) · Aprendiz
    Competências: Data Analysis · Recommender Systems · NPL</p>

    <h3>Grupo Fleury · EstágioGrupo Fleury · Estágio</h3>
    <p>jan de 2024 - fev de 2024 · 2 mesesDe jan de 2024 até fev de 2024 · 2 meses
    São Paulo, São Paulo, Brasil · HíbridaSão Paulo, São Paulo, Brasil · Híbrida
    Estágio de verão no Grupo Fleury na Área de Digital e TI. O desafio do Summer Job era produzir um sistema que monitora falhas no processo de check-in digital da empresa. Utilizei as ferramentas: Grafana e CloudWatch - AWS.
    Competências: Gestão de projetos · Análise de dados · Metodologias Agile</p>
</div>
